#main_container {
    width: 80%;
    text-align: center;
    padding: 20px;
    background-color: lightgray;
    margin: auto;
}

header, footer {
    background-color: #035096;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    margin: 1% 0;
    padding: 20px;
}

header > p, footer> p {
    flex: 1;
    font-size: large; 
    font-weight: bold;
} 

#middle-section {
    background-color: #a9a9a9;
    display: flex;
    padding: 3% 1% 1% 1%;
    flex-direction: column;
    max-width: 100%;
}

#top-section {
    display: flex;
    background-color: lightgray;
    justify-content: center;
    max-width: 100%;
    padding: 1%;
    margin: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    padding: 2%;
}

fieldset {
    flex: 1;
    width: 115px;
    margin: 10px;
    padding: 0px;
}

legend {
    display: table; 
    max-width: 120%;
    position: relative;
    margin: auto;
    padding: 5px 20px;
    text-align: center;
}

input {
    margin: 0;
    padding: 0;
    max-width: 50px;
}

#main-section {
    background-color: #6699cc;
    flex-direction: column;
    align-items: stretch;
    display: flex;
    justify-content: center;
    padding: 25px 10px 10px 10px;
}

#table-render-space {
    background-color: peachpuff;
    padding: 25px 10px 10px 10px;
    display: flex;
    flex: 1;
    justify-content: center;
}

#table-html-space {
    background-color: orangered;
    padding: 25px 10px 10px 10px;
    display: flex;
    flex: 1;
    justify-content: center;
}

textarea {
    flex: 1;
    overflow-y: visible;
}